<!DOCTYPE html>
<html lang="en">
<head> 
  <title>ระบบลงทะเบียนล่าช้า</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <IMG ALIGN=left BORDER=2 HEIGHT=90 WIDTH=415 HSPACE=20 VSPACE=10 SRC="picture/Tulogo.png">
 <style>
* {box-sizing: border-box;}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1; 
  width: 10%;
  height: 80%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: rgb(0, 0, 0);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(255, 230, 0);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgb(253, 34, 34);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border-top: 1px solid #ccc;
  width: 90%;
  border-left: 1px solid #ccc;
  height: 80%;
}
</style>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>
</head>
<body>
<p id="demo"></p>
<div class="jumbotron text-center">
    <body>
    </body>
</div>
    <body><Font face="FreesiaUPC"Font size=7 size="18" color="black" >
        <h2><B>&nbsp &nbsp  MENU </B></h2>
    </Font></body>
<div class="tab">
    <body>
        <Font face="JasmineUPC" size="25" color="black" >
            <button class="tablinks" onclick="openCity(event, 'home')" id="defaultOpen"><B><Font size=4>หน้าหลัก</Font></B></button>
            <button class="tablinks" onclick="openCity(event, 'template')"><B><Font size=4>รูปแบบคำร้อง</Font></B></button>
            <button class="tablinks" onclick="openCity(event, 'fill')"><B><Font size=4>กรอกคำร้อง</Font></B></button>
            <button class="tablinks" onclick="openCity(event, 'send')"><B><Font size=4>แนบเอกสารประกอบ</Font></B></button>
            <button class="tablinks" onclick="openCity(event, 'result')"><B><Font size=4>ผลคำร้อง</Font></B></button>
            <button class="tablinks" onclick="openCity(event, 'payment')"><B><Font size=4>ชำระเงิน</Font></B></button>
            <button class="tablinks" onclick="openCity(event, 'logout')"><B><Font size=4>Log Out</Font></B></button>
    </Font>
    </body>
</div>

<div id="home" class="tabcontent">
    <Font face="FreesiaUPC"Font size=5 color="black" >
  <h1><B>หน้าหลัก</B></h1>
  <p>กลับสู่หน้าหลัก...</p>
  <U>ประวัตินักศึกษา</U><br>
  <IMG ALIGN=left BORDER=5 HEIGHT=180 WIDTH=140 HSPACE=10 VSPACE=10 SRC="picture/jaemintu.jpg" ><br> ชื่อ &nbsp&nbsp&nbsp&nbsp&nbspนามสกุล<br>
    เลขประจำตัว<br>
    ชั้นปี&nbsp&nbsp&nbsp&nbsp&nbspคณะ&nbsp&nbsp&nbsp&nbsp&nbspสาขา<br> 
  อาจารย์ที่ปรึกษา
</Font>
</div>

<div id="template" class="tabcontent">
    <Font face="FreesiaUPC"Font size=5 color="black" >
        <h1><B>รูปแบบคำร้อง</B></h1>
        <p>กรุณาเลือกรูปแบบคำร้องตามวัตถุประสงค์ของนักศึกษา</p> 
    </Font>

  
  <img id="myImg" src="picture/IMG_5336.JPG" alt="แบบที่1: ปัญหาทางการเงิน" style="width:100%;max-width:300px">
  <!-- The Modal -->
  <div id="myModal" class="modal">
   <span class="close">&times;</span>
   <img class="modal-content" id="img01">
   <div id="caption"></div>
  </div>
  <script>
    name = "finance";
    num = 1;
  </script>
  <img id="myImg" src="picture/IMG_5336.JPG" alt="แบบที่2: ปัญหาทางด้านสุขภาพ" style="width:100%;max-width:300px">
  <!-- The Modal -->
  <div id="myModal" class="modal">
   <span class="close">&times;</span>
   <img class="modal-content" id="img01">
   <div id="caption"></div>
  </div>
  <script>
    name = "health";
    num = 2;
  </script>
  <img id="myImg" src="picture/IMG_5336.JPG" alt="แบบที่3: นักศึกษาที่ไปแลกเปลี่ยน" style="width:100%;max-width:300px">
  <!-- The Modal -->
  <div id="myModal" class="modal">
   <span class="close">&times;</span>
   <img class="modal-content" id="img01">
   <div id="caption"></div>
  </div>
   <script>
    name = "exchange";
    num = 3;
  </script>
  <form action="/https://serene-shore-32376.herokuapp.com/">
    <div class="form-check">
      <label class="form-check-label" for="check1">
        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="temp1" checked>ปัญหาทางการเงิน
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label" for="check2">
        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="temp2">ปัญหาทางด้านสุขภาพ
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="check3" name="Option3" value="temp3">นักศึกษาที่ไปแลกเปลี่ยน
      </label>
    </div>
    <div class="alert alert-warning">
      <strong>คำเตือน!</strong> คุณสามารถบันทึกข้อมูลได้ไม่เกิน 3 ครั้งเท่านั้น.
    </div>
    <button type="submit" class="btn btn-primary">บันทึก</button>
    <script>
      var myObj, myJSON;
      if(name=="finance"){
        myObj = {name:"finance",num=1};
      }
      else if(name=="health"){
        myObj = {name:"health",num=2};
      } 
      else {
        myObj = {name:"exchange",num=3};
      }
      myJSON = JSON.stringify(myObj);
      localStorage.setItem("testJSON",myJSON);
      var text,obj;
      text = localStorage.getItem("testJSON");
      obj = JSON.parse(text);
      document.getElementById("demo").innerHTML = obj.name+" "+obj.num;
      //window.location.href = "ระบบลงทะเบียนล่าช้าG3.html";
    </script>
  </form>
</div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var img1 = document.getElementById("myImg1");
var modalImg = document.getElementById("img01");
var modalImg1 = document.getElementById("img02");
var captionText = document.getElementById("caption");
var captionText1 = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
</body>
</html>
